!!!
%html
  %head
    %meta{charset: "utf-8"}
  %body
    .side
      .side__menu
        .side__menu__user-name
          = current_user.name
        .side__menu__right-content
          %a{class: "side_menu__right-content__new-group", href: new_group_path}
            %i.fa.fa-pencil-square-o.side_menu__right-content__new-group__icon
          %a{class: "edit_user_path(current_user.id)side__menu__right-content__edit-account", href: "#{edit_user_path(current_user.id)}"}
            %i.fa.fa-cog.side__menu__right-content__edit-account__icon
      .side__groups
        = render partial: "groups/groups", locals: {groups: current_user.groups}

  - if @group
    .main
      %header.main__header
        .main__header__left-content
          .main__header__left-content__group-name
            = @group.name
          .main__header__left-content__group-members
            Members:
            - @group.users.each do |user|
              = user.name
        = link_to "Edit", edit_group_path(@group) , class: "main__header__group-edit--frame-blue"

      .main__chat
        .main__chat__message
        - @messages.each do |message|
          .main__chat__message__user-name
            = message.user.name
          .main__chat__message__send-time
            = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
          .main__chat__message__text
            = message.body if message.body
          .main__chat__message__image
            = image_tag message.image if message.image

      %footer.main__footer
        .main__footer__message-form
          = form_for [@group, @message], html: { class: "js-form" } do |f|
            =f.text_field :body, class: "main__footer__message-form__text", placeholder: "type a message"
            = f.label :image, { class: "fa fa-picture-o" } do
              = f.file_field :image, style: "display: none"
            =f.submit "Send", class: "main__footer__message-form__submit--back-blue"
