= new_or_edit_add
= form_for group, html: {"accept-charset" => "UTF-8", class: "edit_chat_group", class: "new_chat_group", id: "edit_chat_group_#{group.id}"} do |f|
  .chat-group-form__errors
    %h2
      - if group.errors.any?
        #{group.errors.count}件のエラーが発生しました。
        %ul
        - group.errors.full_messages.each do |msg|
          %li #{msg}
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input", id: "chat_group_name", value: group.name

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "チャットメンバー", class: "chat-group-form__label"

    .chat-group-form__field--right
      .chat-group-user.clearfix.js-chat-member#chat-group-user-8
      %ul#chat-group-users
        %li.chat-group-user.clearfix
          %input{ name: "group[user_ids][]", type: "hidden", value: "#{current_user.id}" }
          %p.chat-group-user__name
            = current_user.name
        - @users.each do |user|
          - if user != current_user
            %li.chat-group-user.clearfix
              %input{ name: "group[user_ids][]", type: "hidden", value: "#{user.id}" }
              %p.chat-group-user__name
                = user.name
              %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn
                削除

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label{ class: "chat-group-form__label", for: "user-search-field" }
        チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input{ class: "chat-group-form__input", id: "user-search-field", placeholder: "追加したいユーザー名を入力してください", type: "text" }
      #user-search-result
      = f.submit "Save", class: "chat-group-form__action-btn"
