.chat-group-form
  %h1 新規チャットグループ
  = form_for @group, html: {"accept-charset" => "UTF-8", class: "new_chat_group", id: "new_chat_group"} do |f|
    .chat-group-form__errors
      %h2
        1件のエラーが発生しました。
        %ul
          %li エラーです
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label "グループ名", class: "chat_group_name"
        .chat-group-form__field--right
          = f.text_field :name, plaveholder: "グループ名を入力してください", class: "chat-group-form__input", id: "chat_group_name"

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label "チャットメンバー", class: "chat-group-form__label"

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", class: "chat-group-form__action-btn"
